.search-movie__list {
  position: absolute;
  top: 100%;
  left: -2%;
}

.movie-pagination {
  bottom: 40px;
}

.page-link,
.card,
.search-movie__list-item,
.logo {
  cursor: pointer;
}

#close-movie__info {
  top: 0;
  right: 16px;
}
